
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    box-sizing: border-box;
}

body, header, main, footer {
    display: flex;
}

body, main {
    flex-direction: column;
    height: auto;
}

.links {
    list-style-type: none;
    display: flex;
    align-items: center;
    column-gap: 20px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    align-self: center;
}

header, footer {
    background-color: #1F2937;
    height: 100px;
}

footer p {
    display: flex;
    color: #E5E7EB;
}

footer, p {
    justify-content: center;
    align-items: center;
}

header {
    justify-content: space-around;
}

.hero {
    display: flex;
    height: 500px;
    background-color: #1F2937;
}

.interesting-info {
    display: flex;
    height: 500px;
}

.inspiring-quote {
    display: flex;
    height: 400px;
    background-color: #E5E7EB;
    justify-content: center;
}

blockquote {
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.quote-text {
    text-align: left;
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
}

.quote-author {
    text-align: right;
    font-weight: bold;
}

.call-to-action {
    display: flex;
    height: 300px;
    justify-content: center;
    align-items: center;
}

.blue-box {
    display: flex;
    background-color: #3882F6;
    border-radius: 10px;
    display: flex;
    flex-basis: auto;
    width: 75%;
    height: 150px;
    justify-content: space-around;
    align-items: center;
}

.blue-box * {
    color: white;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 10px;
}

.call-to-action button {
    background-color: #3882F6;
    border: 2px solid white;
    border-radius: 10px;
    padding: 5px 25px;
    font-size: 18px;
}







